p {
    color: #3A271A;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b0e06;
}

h2 {
    text-align: center;
    color: #1b0e06;
}

.details h2 {
    text-align: left;
    margin-left: 46px;
}
    
    

h4 {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10px
}

a {
    text-decoration: none;
    color: #1b0e06;
}

h5 {
    text-align: center;
    font-size: 16px;
    color:#1b0e06;

}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #E7D3B3;
    margin-bottom: 0;
}


footer p {
    padding: 0 25px;
    color: #3A271A;
}

footer h3 {
    color: #1b0e06;
}

li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

ul {
    margin-bottom: 0;
}

.banner img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.nav div {
    background-color: #E7D3B3;
}
.main-image img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.column1 {
	float: left;
	width: 23%;
}

.row1:after {
content: "";
clear: both;
display: table;
margin-left: 20px;
margin-right: 20px
}

.column2 {
	float: left;
	width: 35%;
	padding-left: 40px;
    margin-inline-start: 80px;
}

.row2 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.row2:after {
content: "";
clear: both;
display: table;
margin-left: 20px;
margin-right: 20px
}

.column3 {
	float: left;
	width: 33%;
	padding: 0 10px;
}

.row {
    margin-bottom: 10px;
}
.row:after {
content: "";
clear: both;
display: table;
margin-left: 20px;
margin-right: 20px
}

.details .column3  {
    padding-bottom: 20px;
}

.details {
    margin-left: 10px;
}

.column4 {
    float: left;
	width: 20%;
	padding: 10px;
    text-align: center;
    font-size: 16px;
}
.row4:after {
content: "";
clear: both;
display: table;
}
.row4 {
margin-left: 220px;
margin-right: 20px;
 position: relative;
    top: -150px;
    left: 100px;
}

.columnMedia1 {
    margin-top: 20px;
	float: left;
	width: 33.33%;
}
.rowTour1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.rowTour1:after {
content: "";
clear: both;
display: table;
}

.columnMedia1 img {
    width: 90%;
}

.columnMedia2 {
    margin-top: 10px;
	float: left;
	width: 20%;
}

.rowTour2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rowTour2:after {
content: "";
clear: both;
display: table;
}
.columnMedia2 img {
    width: 90%;
}

iframe{
    min-height: 150px;
    max-width: 400px;

}

.getInTouch{
text-align: left;
font-size: 40px;
margin-bottom: 60px;
}

.contactDetails{
    margin-left: 200px;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: larger;
}

.details h2 {
    display: inline;
}

.amenities {
    padding-left: 150px;
}

@media screen and (max-width: 600px) {
  .column4 {
      width: 40%;
      font-size: 14px;
      padding: 10px;
    }
    .row4 {
        top: -125px;
        left: 20px;
        
    }
    .amenities {
        padding-left: 80px;
        font-size: 18px;
    }
    .details {
        margin-left: 10px;
    }
    .details h2 {
        margin-left: 35px;
        font-size: 18px;
    }
    .column2 {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }
    li {
        font-size: 14px;
    }
    .contactDetails {
        margin-left: 60px;
    }
    }

    @media screen and (max-width: 900px) {
  .column4 {
      width: 40%;
    }
    .row4 {
        top: -125px;
        left: 30px;
    }
    .amenities {
        padding-left: 40px;
    }
    .details {
        margin-left: -20px;
    }
    .column2 {
        padding: 0;
        margin-left: 50px;
        width: 80%;
        text-align: left;
    }
    .column3 {
        padding: 0;
    }
    .column3 p{
        text-align: left;
    }
     .contactDetails {
        margin-left: 60px;
    }
    }

