h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.details h2 {
    text-align: left;
    margin-left: 46px;
}
    
    

h4 {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 83);
}

h5 {
    text-align: center;
    font-size: 16px;

}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: beige;
}


footer p {
    padding: 0 25px;
}

li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

ul {
    margin-bottom: 0;
}



.nav div {
    background-color: beige;
}
.main-image img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.column1 {
	float: left;
	width: 23%;
}

.row1:after {
content: "";
clear: both;
display: table;
margin-left: 20px;
margin-right: 20px
}

.column2 {
	float: left;
	width: 35%;
	padding-left: 40px;
    margin-inline-start: 80px;
}

.row2 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.row2:after {
content: "";
clear: both;
display: table;
margin-left: 20px;
margin-right: 20px
}

.column3 {
	float: left;
	width: 30%;
	padding: 0 10px;
}

.row {
    margin-top: 40px;
    margin-bottom: 40px;
}
.row:after {
content: "";
clear: both;
display: table;
margin-left: 20px;
margin-right: 20px
}

.details .column3  {
    padding-bottom: 20px;
}

.details {
    margin-left: 40px;
}

.column4 {
    float: left;
	width: 20%;
	padding: 10px;
    text-align: center;
    font-size: 16px;
}
.row4:after {
content: "";
clear: both;
display: table;
}
.row4 {
margin-left: 220px;
 position: relative;
    top: -35px;
}

.columnMedia1 {
    margin-top: 20px;
	float: left;
	width: 33.33%;
    
}
.rowTour1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.rowTour1:after {
content: "";
clear: both;
display: table;
}

.columnMedia1 img {
    width: 90%;
}

.columnMedia2 {
    margin-top: 10px;
	float: left;
	width: 20%;
}

.rowTour2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rowTour2:after {
content: "";
clear: both;
display: table;
}
.columnMedia2 img {
    width: 90%;
}

iframe{
    min-height: 150px;
    max-width: 400px;

}